#root {
  width: 100%;
  text-align: center;
  touch-action: manipulation;
}

.page {
  height: 100vh;
}

.canvasContainer {
  width: 100%;
  height: 100%;
}

.canvasContainer__withLink {
  height: calc(100% - 4em);
}

.pointerTestWapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 4em);
  gap: 16px;
}

.pointerTestCanvasContainer {
  width: 200px;
  height: 240px;
}

.pointerLayout {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 60px 240px;
  justify-content: center;
  column-gap: 64px;
}