#root {
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.canvasContainer {
  width: 100%;
  height: 100vh;
}

.canvasContainer__withLink {
  height: calc(100vh - 4em);
}

.test {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 4em);
  gap: 16px;
}

.testCanvasContainer {
  width: 200px;
  height: 240px;
}

.headerContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 60px 240px;
  justify-content: center;
  column-gap: 64px;
}